:root {
    --background-color: #dee2e6;
    --text-color: #101010;
    --accent-color: #1bb7bc;
  }
  
*{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #F5F5F5;
  text-decoration: none;
  color: #555;
}
a{
  text-decoration: none;
  color: #555;
}
a:hover{
 color: #1bb7bc;
}
svg{
  color: #1bb7bc;
}
/* }#sumbit button{
  background-color: #1bb7bc;
  border: none;
  border-radius: 50px;
}
button :hover{
  background-color: #555;
  color: #101010;
} */
#assets-img{
 background-color: #e1feff;
 padding-top: 70px;
 padding-left: 30px;
}
#card-img{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#card-img{
  border: none;
}
#body{
  border-bottom: 3px solid #1bb7bc;
  border-bottom-right-radius:7px ;
  border-bottom-left-radius:7px ;
}
.card-header{
  background-color: #e1feff;
}
.sidebar-header{
  background-color: #dee2e6;
}